.hex {
    background-color: #86DEFA;
}

.rgb {
    background-color: rgb(134, 222, 250);

}

.hsl {
    background-color: hsl(53%, 87%, 98%);
}

.transparency {
    background-color: rgb(134, 222, 250 / .6);
}